body {
    background-color: #441471;
}

* {
    /* 去除页面边距 */
    padding: 0;
    margin: 0;
}

ul li {
    /* 去除li的点 */
    list-style: none;
}

a {
    color: #666;
    text-decoration: none
}

div {
    display: block;
}

body {
    font-family: "Lato", sans-serif;

}

.box1 {
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #441471;
}

.box2 {
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #feb623;
}

.tubiao1 {
    position: absolute;
    width: 640px;
    height: 380px;
    left: 30%;
    right: 30%;
    top: 0px;
    /* background-color: red; */
    background-image: url(../images/laker01.jpg);
    background-repeat: no-repeat;
}

.tubiao2 {
    position: absolute;
    width: 640px;
    height: 380px;
    left: 30%;
    right: 30%;
    top: 0px;
    /* background-color: red; */
    background-image: url(../images/laker02.jpg);
    background-repeat: no-repeat;
}

.right {
    float: right;
    /* background-color: rgb(12, 168, 38); */
    margin: 20px 50px;

}

/*侧边栏选择器*/
.sidenav {
    height: 100%;
    width: 0;
    /*原始宽度为0*/
    position: fixed;
    z-index: 1;
    top: 31px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/*侧边栏选项选择器*/
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/*侧栏标签和关闭按钮光标的效果*/
.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}

/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.right span {
    float: right;
    /* font-size: 900px; */
    /* width: 900px; */
    /* height: 50px; */
    background-color: #f7c110;
}

/*设置图片大小*/
#transform img {
    width: 547px;
    height: 820px;
    cursor: pointer;
}

#transform {
    position: absolute;
    top: 791px;
    left: 32%;
    list-style: none;
}

/*设置轮播图片样式*/
#transform li {
    position: absolute;
    opacity: 100;
}

#point {
    position: absolute;
    top: 1625px;
    left: 46%;
    display: flex;
    list-style: none;
}

/*小点样式*/
#point li {
    width: 10px;
    height: 10px;
    background-color: #feb623;
    border-radius: 50%;
    margin-left: 20px;
    cursor: pointer;
}

/*    左右切换按钮样式*/
#left {
    position: absolute;
    top: 300px;
    left: 15%;
    font-size: 70px;
    font-weight: bold;
    color: #00000070;
    cursor: pointer;
}

#right {
    position: absolute;
    top: 300px;
    left: 80%;
    font-size: 70px;
    font-weight: bold;
    color: #00000070;
    cursor: pointer;
}

/* 球队阵容 */
.main {
    position: absolute;
    top: 1685px;
    width: 1800px;
    height: 1500px;
    background-color: #f1f1f1;
}


/* 列表页专有的css */
.nav {
    overflow: hidden;
}
.sk {
    position: absolute;
    left: 190px;
    top: 40px;
    border-left: 1px solid #c81523;
    padding: 3px 0 0  14px;
}
.sk_list {
    float: left;
}
.sk_list  ul li {
    float: left;
}
.sk_list  ul li a {
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sk_con {
    float: left;
}
.sk_con ul li {
    float: left;
}
.sk_con  ul li a {
    display: block;
    line-height: 49px;
    padding: 0 20px;
    font-size: 14px;
   
}
.sk_con  ul li:last-child a::after {
    content: '\e91e';
    font-family: 'icomoon';
}
.sk_bd ul li {
    overflow: hidden;
    float: left;
    margin-right: 13px;
    width: 370px;
    height: 430px;
    border: 1px solid transparent;
}
.sk_bd ul li:nth-child(4n) {
    margin-right: 0;
}
.sk_bd ul li:hover {
    border: 1px solid #c81523;
}

/* 底部模块制作 */
.footer {
    position: absolute;
    top: 3200px;
    height: 415px;
    width: 100%;
    background-color: #f1f1f1;
    /* background-color: #f5f5f5; */
    padding-top: 30px;
}

.mod_service {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid #1e1e1e;
    /* background-color: #fff; */
}

.mod_service ul {
    color: #fff;
}

.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}

.mod_help dl {
    /* background-color: #fff; */
    float: left;
    width: 340px;
}

.mod_help dl:last-child {
    /* background-color: #fff; */
    width: 90px;
    text-align: center;
}

.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.mod_copyright {
    text-align: center;
    padding-top: 20px;
}

.links {
    margin-bottom: 15px;
}

.links a {
    margin: 0 3px;
}

.copyright {
    line-height: 20px;
}